<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>./gatling.log</file>-->
<!--        <append>true</append>-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; logging ALL HTTP request and responses &ndash;&gt;-->
<!--    <logger name="io.gatling.http.engine.response.DefaultStatsProcessor" level="TRACE">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </logger>-->
</configuration>